<div id="<%= dom_id item_pedido %>">
  <p>
    <strong>Pedido:</strong>
    <%= item_pedido.pedido_id %>
  </p>

  <p>
    <strong>Carro:</strong>
    <%= item_pedido.carro_id %>
  </p>

  <p>
    <strong>Valor:</strong>
    <%= item_pedido.valor %>
  </p>

</div>
