<h1>Editing item pedido</h1>

<%= render "form", item_pedido: @item_pedido %>

<br>

<div>
  <%= link_to "Show this item pedido", pedido_item_pedido_path(@pedido, @item_pedido) %>
  <%= link_to "Back to item pedidos", pedido_item_pedidos_path %>
</div>
