<ul>
  <h1><%= topo %></h1>
  <li>
    <a href="/">Home</a>
  </li>
    <li>
    <a href="/produtos">Produtos</a>
  </li>
  <li>
    <a href="/sobre">Sobre</a>
  </li>
    <li>
    <a href="/logar">Logar</a>
  </li>
</ul>