<div>
  <%# Utilizando tag dinâmica para mostrar valor de variável%>
  <%# variável está no contexto apenas no controller home e não será mostrada no footer da página sobre%>
  <p>Registrado por <%= @teste %></p>
</div>