<div id="<%= dom_id pedido %>">
  <p>
    <strong>Client:</strong>
    <%= pedido.client_id %>
  </p>

  <p>
    <strong>Valor total:</strong>
    <%= pedido.valor_total %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= pedido.status %>
  </p>

</div>
