<h1>Cássio Santana</h2>

<hr>
<ul>
  <% @produtos.each do |produto| %>
  <li>
    <b>ID:</b> <%= produto.id %>
    <b>NOME:</b> <%= produto.nome %>
    <b>DESCRIÇÃO:</b> <%= produto.descricao %>
  </li>
  <% end %>
</ul>
<hr>