<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>

<h1><%= @valor %></h1>

<h1>Nome: <%= @cliente.nome %></h1>
<h1>Telefone: <%= @cliente.telefone %></h1>
<h1>Cpf: <%= @cliente.cpf %></h1>
